.about {
  background-image: var(--backColor);
  display: flex;
  justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  .container {
    gap: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1100px) {
        gap: 100px;
      }
    @media (max-width: 865px) {
        gap: 100px;
      }
      @media (max-width: 690px) {
        gap: 80px;
      }
      @media (max-width: 550px) {
        gap: 60px;
      }
      @media (max-width: 440px) {
        gap: 10px;
      }
    span {
      display: block;
      width: 180px;
      height: 3px;
      background-color: var(--white);
      position: relative;
      @media (max-width: 1100px) {
        width: 150px;
      }
      @media (max-width: 865px) {
        width: 150px;
      }
      @media (max-width: 550px) {
        width: 100px;
      }
      @media (max-width: 430px) {
        width: 70px;
      }
      p {
        font-family: var(--MonoFont);
        color: var(--white);
        top: -45px;
        left: 15px;
        position: absolute;
        font-size: 30px;
        @media (max-width: 1100px) {
            font-size: 25px;
          }
        @media (max-width: 865px) {
            font-size: 20px;
        }
        @media (max-width: 690px) {
            font-size: 15px;
          }
        @media (max-width: 550px) {
            font-size: 10px;
        }
        @media (max-width: 430px) {
            font-size: 15px;
            top: -50px;
        }
      }
    }
    .image {
      width: 300px;
      height: 400px;
      border: 5px solid var(--white);

      @media (max-width: 840px) {
        width: 250px;
        height: 350px;
        border: 3px solid var(--white);
      }
      @media (max-width: 550px) {
        width: 200px;
        height: 300px;
        border: 2px solid var(--white);
      }
      @media (max-width: 430px) {
        width: 150px;
        height: 250px;
        border: 1px solid var(--white);
      }
      img {
        padding: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 840px) {
            padding: 20px;
        }
        @media (max-width: 550px) {
            padding: 10px;
        }
        @media (max-width: 430px) {
            padding: 7px;
        }
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 400px;
      border: 5px solid var(--white);
      color: var(--white);
      @media (max-width: 840px) {
        width: 250px;
        height: 350px;
        border: 3px solid var(--white);
      }
      @media (max-width: 550px) {
        width: 200px;
        height: 300px;
        border: 2px solid var(--white);
      }
      @media (max-width: 430px) {
        width: 150px;
        height: 250px;
        border: 1px solid var(--white);
      }
      p {
        padding: 50px;
        font-size: 20px;
        font-family: var(--MonoFont);
        @media (max-width: 840px) {
            font-size: 15px;
          padding: 45px;
        }
        @media (max-width: 550px) {
          padding: 35px;
          font-size: 10px;
        }
        @media (max-width: 430px) {
          padding: 20px;
          font-size: 7px;
        }
      }
    }
  }
}
