* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    .header-info {
        .row {
            align-items: center;
            display: flex;
            justify-content: space-around;
            background-color: rgb(170, 175, 175);
            padding: 30px 30px;
            width: 100%;
            .logo {
                img {
                    height: 40px;
                }
            }
            ul {
                display: flex;
                gap: 80px; 
                li{
                    list-style: none;
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        transition: 0.1s;
                        span {
                            text-transform: uppercase;
                            display: inline-block;
                            transition: transform 1s;
                            color: black;
                        }
                        &:hover span {
                            color: rgb(41, 40, 40);
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .connect {
                position: relative;
                transition: 1s;
                i:first-child {
                    cursor: pointer;
                    &:hover {
                        + .social {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
                span {
                    color: black;
                    font-size: 20px; 
                }
                .social {
                    display: none;
                    position: absolute;
                    background-color: white;
                    border: 1px solid black;
                    padding: 10px;
                    z-index: 1;
            
                    a {
                        display: block;
                        text-decoration: none;
                        margin-bottom: 5px;
                        color: black;
                    }
                }    
            }   
        }
    }
}
