* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.entry {
  background-image: url(../assets/images/tamalsen-home-cover.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
.entry .header {
  height: 7%;
  width: 100%;
}
.entry .header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry .header .container .navlist {
  padding-top: 20px;
  color: var(--white);
  font-family: var(--MonoFont);
  text-align: center;
  gap: 50px;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  display: flex;
  cursor: pointer;
}
@media (max-width: 720px) {
  .entry .header .container .navlist {
    display: none;
  }
}
@media (max-width: 768px) {
  .entry .header .container .navlist {
    font-size: 15px;
  }
}
.entry .header .BlockNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--white);
  transition: left 0.3s ease;
  z-index: 1000;
}
.entry .header .BlockNav .active {
  width: 500px;
  left: 0;
  transition: left 1s ease;
}
@media (max-width: 768px) {
  .entry .header .BlockNav .active {
    width: 300px;
  }
}
@media (max-width: 420px) {
  .entry .header .BlockNav .active {
    width: 250px;
  }
}
.entry .header .BlockNav .navbar .iconClosed {
  color: var(--black);
  font-size: 30px;
  margin-bottom: 50px;
  margin-left: 10px;
}
.entry .header .BlockNav .navbar .iconClosed i {
  cursor: pointer;
}
.entry .header .BlockNav .navbar .iconClosed i:hover {
  color: gray;
}
.entry .header .BlockNav .navbar .title p {
  margin-top: 20px;
  color: var(--black);
}
.entry .header .BlockNav .navbar .navlist {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black);
  font-family: var(--MonoFont);
  gap: 30px;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}
.entry .header .BlockNav .navbar .navlist li {
  cursor: pointer;
}
.entry .header .BlockNav .navbar .navlist li:hover {
  color: gray;
}
.entry .header .icon {
  margin-left: 20px;
  margin-top: 20px;
  display: none;
  font-size: 30px;
  color: var(--white);
}
.entry .header .icon i {
  cursor: pointer;
}
@media (max-width: 720px) {
  .entry .header .icon {
    display: block;
  }
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}
.name .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.name .container .icon {
  position: absolute;
  bottom: 100px;
  font-size: 40px;
  color: var(--white);
  cursor: pointer;
}
.name .container h1 {
  text-transform: uppercase;
  color: var(--white);
  font-size: 80px;
  font-family: var(--poppins);
}
@media (max-width: 840px) {
  .name .container h1 {
    font-size: 50px;
  }
}
@media (max-width: 550px) {
  .name .container h1 {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .name .container h1 {
    font-size: 20px;
  }
}
.name .container h3 {
  font-family: var(--MonoFont);
  font-size: 30px;
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 840px) {
  .name .container h3 {
    font-size: 25px;
  }
}
@media (max-width: 550px) {
  .name .container h3 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .name .container h3 {
    font-size: 10px;
  }
}

.about {
  background-color: var(--commonColor);
  display: flex;
  justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.about .container {
  gap: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .about .container {
    gap: 100px;
  }
}
@media (max-width: 865px) {
  .about .container {
    gap: 100px;
  }
}
@media (max-width: 690px) {
  .about .container {
    gap: 80px;
  }
}
@media (max-width: 550px) {
  .about .container {
    gap: 60px;
  }
}
@media (max-width: 440px) {
  .about .container {
    gap: 10px;
  }
}
.about .container span {
  display: block;
  width: 180px;
  height: 3px;
  background-color: var(--white);
  position: relative;
}
@media (max-width: 1100px) {
  .about .container span {
    width: 150px;
  }
}
@media (max-width: 865px) {
  .about .container span {
    width: 150px;
  }
}
@media (max-width: 550px) {
  .about .container span {
    width: 100px;
  }
}
@media (max-width: 430px) {
  .about .container span {
    width: 70px;
  }
}
.about .container span p {
  font-family: var(--MonoFont);
  color: var(--white);
  top: -45px;
  left: 15px;
  position: absolute;
  font-size: 30px;
}
@media (max-width: 1100px) {
  .about .container span p {
    font-size: 25px;
  }
}
@media (max-width: 865px) {
  .about .container span p {
    font-size: 20px;
  }
}
@media (max-width: 690px) {
  .about .container span p {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .about .container span p {
    font-size: 10px;
  }
}
@media (max-width: 430px) {
  .about .container span p {
    font-size: 15px;
    top: -50px;
  }
}
.about .container .image {
  width: 300px;
  height: 400px;
  border: 5px solid var(--white);
}
@media (max-width: 840px) {
  .about .container .image {
    width: 250px;
    height: 350px;
    border: 3px solid var(--white);
  }
}
@media (max-width: 550px) {
  .about .container .image {
    width: 200px;
    height: 300px;
    border: 2px solid var(--white);
  }
}
@media (max-width: 430px) {
  .about .container .image {
    width: 150px;
    height: 250px;
    border: 1px solid var(--white);
  }
}
.about .container .image img {
  padding: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 840px) {
  .about .container .image img {
    padding: 20px;
  }
}
@media (max-width: 550px) {
  .about .container .image img {
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .about .container .image img {
    padding: 7px;
  }
}
.about .container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 5px solid var(--white);
  color: var(--white);
}
@media (max-width: 840px) {
  .about .container .title {
    width: 250px;
    height: 350px;
    border: 3px solid var(--white);
  }
}
@media (max-width: 550px) {
  .about .container .title {
    width: 200px;
    height: 300px;
    border: 2px solid var(--white);
  }
}
@media (max-width: 430px) {
  .about .container .title {
    width: 150px;
    height: 250px;
    border: 1px solid var(--white);
  }
}
.about .container .title p {
  padding: 50px;
  font-size: 20px;
  font-family: var(--MonoFont);
}
@media (max-width: 840px) {
  .about .container .title p {
    font-size: 15px;
    padding: 45px;
  }
}
@media (max-width: 550px) {
  .about .container .title p {
    padding: 35px;
    font-size: 10px;
  }
}
@media (max-width: 430px) {
  .about .container .title p {
    padding: 20px;
    font-size: 7px;
  }
}

.project {
  background-color: var(--commonColor);
}
.project .container .title {
  text-align: center;
  font-size: 80px;
  padding-bottom: 50px;
  color: var(--white);
  font-family: var(--MonoFont);
}
@media (max-width: 786px) {
  .project .container .title {
    font-size: 60px;
    padding-bottom: 45px;
  }
}
@media (max-width: 460px) {
  .project .container .title {
    font-size: 40px;
    padding-bottom: 30px;
  }
}
.project .container .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project .container .info .card {
  position: relative;
  overflow: hidden;
  width: calc(33.33% - 20px);
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media (max-width: 786px) {
  .project .container .info .card {
    width: calc(33.33% - 10px);
  }
}
@media (max-width: 462px) {
  .project .container .info .card {
    width: calc(50% - 10px);
  }
}
@media (max-width: 360px) {
  .project .container .info .card {
    width: 100%;
    margin: 0 20px;
  }
}
.project .container .info .card .image {
  width: 100%;
}
.project .container .info .card .image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.project .container .info .card .image:hover img {
  transform: scale(1.1);
}
.project .container .info .card .infoCard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.project .container .info .card .infoCard span {
  margin-right: 5px;
  border: 1px solid #fff;
  padding: 5px;
}
.project .container .info .card:hover .infoCard {
  opacity: 1;
}

.contact {
  background-color: var(--commonColor);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 460px) {
  .contact {
    flex-direction: column;
  }
}
.contact .cv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 460px) {
  .contact .cv {
    flex-direction: column;
  }
}
.contact .cv .cvInfo {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.contact .cv .cvInfo .title {
  text-transform: capitalize;
  font-size: 45px;
  font-family: var(--poppins);
  color: var(--white);
}
@media (max-width: 1024px) {
  .contact .cv .cvInfo .title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .contact .cv .cvInfo .title {
    font-size: 26px;
  }
}
@media (max-width: 462px) {
  .contact .cv .cvInfo .title {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .contact .cv .cvInfo .title {
    font-size: 20px;
  }
}
.contact .cv .cvInfo .aboutMe {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  gap: 30px;
}
@media (max-width: 470px) {
  .contact .cv .cvInfo .aboutMe {
    flex-direction: row;
    margin: 0;
    gap: 10px;
  }
}
@media (max-width: 320px) {
  .contact .cv .cvInfo .aboutMe {
    flex-direction: row;
    margin: 0;
    gap: 10px;
  }
}
.contact .cv .cvInfo .aboutMe h2 {
  font-size: 40px;
  color: aqua;
}
@media (max-width: 768px) {
  .contact .cv .cvInfo .aboutMe h2 {
    font-size: 30px;
  }
}
@media (max-width: 462px) {
  .contact .cv .cvInfo .aboutMe h2 {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .contact .cv .cvInfo .aboutMe h2 {
    font-size: 20px;
  }
}
.contact .cv .cvInfo .aboutMe h2 li {
  margin-left: 30px;
  font-size: 20px;
  color: var(--white);
  font-family: var(--MonoFont);
}
@media (max-width: 768px) {
  .contact .cv .cvInfo .aboutMe h2 li {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .contact .cv .cvInfo .aboutMe h2 li {
    font-size: 13px;
  }
}
.contact .cv .cvInfo .aboutMe h2 p {
  margin-left: 30px;
  font-size: 20px;
  color: var(--white);
  width: 300px;
  font-family: var(--MonoFont);
}
@media (max-width: 768px) {
  .contact .cv .cvInfo .aboutMe h2 p {
    font-size: 15px;
    width: 200px;
  }
}
@media (max-width: 462px) {
  .contact .cv .cvInfo .aboutMe h2 p {
    width: 200px;
  }
}
@media (max-width: 325px) {
  .contact .cv .cvInfo .aboutMe h2 p {
    width: 150px;
    font-size: 13px;
  }
}
.contact .cv span {
  margin-left: 150px;
  display: block;
  width: 4px;
  height: 100%;
  background-color: var(--white);
  position: relative;
}
@media (max-width: 460px) {
  .contact .cv span {
    margin-left: 0;
    top: 10px;
    width: 100%;
    height: 3px;
  }
}
.contact .container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 460px) {
  .contact .container {
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
}
.contact .container .title {
  font-size: 50px;
  color: var(--white);
  font-family: var(--poppins);
}
@media (max-width: 1024px) {
  .contact .container .title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .contact .container .title {
    font-size: 30px;
  }
}
@media (max-width: 462px) {
  .contact .container .title {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
}
.contact .container .forMessage {
  width: 400px;
  border: 5px solid var(--white);
  font-size: 20px;
  color: var(--white);
}
@media (max-width: 1024px) {
  .contact .container .forMessage {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .contact .container .forMessage {
    width: 250px;
    font-size: 20px;
  }
}
@media (max-width: 462px) {
  .contact .container .forMessage {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 15px;
  }
}
.contact .container .forMessage p {
  font-family: var(--MonoFont);
  padding: 30px;
}
@media (max-width: 1024px) {
  .contact .container .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 460px) {
  .contact .container .social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 360px) {
  .contact .container .social {
    margin-bottom: 0;
  }
}
.contact .container .social a {
  margin-right: 30px;
  text-decoration: none;
}
.contact .container .social a i {
  font-size: 30px;
  color: var(--white);
}
.contact .container .social a i:hover {
  color: aqua;
}
@media (max-width: 768px) {
  .contact .container .social a i {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .contact .container .social a i {
    font-size: 20px;
  }
}
.contact .container span {
  margin: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  position: relative;
}
.contact .container .contact-form {
  display: flex;
  flex-direction: column;
}
.contact .container .contact-form .form-group {
  margin-bottom: 40px;
}
@media (max-width: 470px) {
  .contact .container .contact-form .form-group {
    margin: 0;
  }
}
@media (max-width: 460px) {
  .contact .container .contact-form .form-group {
    margin-bottom: 0;
  }
}
.contact .container .contact-form .form-group label {
  color: var(--white);
  margin-bottom: 5px;
}
.contact .container .contact-form .form-group input {
  border-radius: 20px;
  width: 200px;
  height: 30px;
}
@media (max-width: 1024px) {
  .contact .container .contact-form .form-group input {
    width: 150px;
  }
}
@media (max-width: 460px) {
  .contact .container .contact-form .form-group input {
    margin-bottom: 0px;
  }
}
@media (max-width: 360px) {
  .contact .container .contact-form .form-group input {
    margin-bottom: 0;
  }
}
.contact .container .contact-form button {
  width: 100px;
  height: 30px;
  transition: 1s ease;
  border: none;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .contact .container .contact-form button {
    margin-top: 30px;
  }
}
.contact .container .contact-form button:hover {
  background-color: aqua;
}

:root {
  --red: rgb(47, 1, 1);
  --black: black;
  --white: white;
  --gray: rgb(125, 119, 119);
  --backColor: linear-gradient(to top, rgb(90, 89, 89), rgb(7, 6, 20) );
  --toTop: linear-gradient(to top, rgb(90, 89, 89), rgb(11, 13, 27));
  --commonColor: rgb(26, 25, 29);
  --MonoFont: "Roboto Mono", monospace;
  --poppins: "Poppins", sans-serif;
}

main {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */